.dashboard-overview {
   display: flex;
   flex-direction: column;
   gap: 14px;
   max-height: 68vh;
  -ms-overflow-style: none;
  overflow-y: auto;

 }


 .stats-card-container {
   display: flex;
   gap: 12px;
 }
.mid-container{
  display: flex;
  gap: 10px;
}
.mid-left{
  flex : 1;
}

.mid-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
   flex: 1;
}
.upcoming-card-container{
  display: flex;
  width: 100%;
  
}


 @media (max-width: 768px) {
   .stats-cards {
     flex-direction: column;
   }
 }