.rightContainer {
    padding: 28px;
    background-color: #ffffff;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}