.tabs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.tab-header {
  display: flex;
  padding: 3px;
  gap: 4px;
  /* border: 1px solid rgba(160, 160, 160, 0.5); */
  background-color: hsl(0 0% 96%);
  border-radius: 6px;
  width: fit-content;
}

.tab-button {
  background: none;
  border: none;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: 500;
  color: #4d4d4d;
  border-radius: 6px;
  min-width: 200px;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  font-variation-settings: "wght" 400;
}

.tab-button:hover {
  color: #64a2f5;
  background-color: #64a2f52b;
  
}

.tab-button.active {
  font-weight: 600;
  font-variation-settings: "wght" 600;
  background-color: white;
  color: #4d4d4d;
}

.tab-content {
  /* background: #fafafa; */
  border-radius: 8px;
  min-height: 200px;
}