.verification-card {
  display: flex;
  align-items: center;
  /* background: #f9fafb; */
  border: 1px solid #a0a0a080;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.card-left {
  width: 100px;
  height: 100px;
  background: #e5e7eb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #6b7280;
  margin-right: 16px;
}

.card-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: 700;
  color: #111827;
}

.card-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button.approve {
  background-color: #64A2F5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 12px;
  cursor: pointer;
}

button.reject {
  background-color: #DC143C;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 12px;
  cursor: pointer;
}

button.approved {
  background-color: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 12px;
  cursor: default;
}

.verification-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.employee-details {
  font-size: 12px;
  color: #000;
  font-weight: 400;
  padding: 3px 0;
}

.label {
  font-weight: 600;
  color: #000;
}