.verification-container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #a0a0a080;
  height: 494px;
  display: flex;
  flex-direction: column;
}

.verification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  background: white;
  font-size: 14px;  
  z-index: 2;
  padding-bottom: 8px;
}

.actions button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-left: 10px;
  padding: 6px 22px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  /* font-weight: 600; */
  color: #ffffff;
}


.verify-all {
  background-color: #64A2F5;
}

.reject-all {
  background-color: #DC143C;
}

.cards-scroll {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  scroll-behavior: smooth;
}
