.employee-management {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Upload + Stats section */
.employee-top-section {
  display: flex;
  grid-template-columns: 2fr 1fr;
  gap: 18px;
  flex-direction: column;
  width: 100%;
  margin-left: auto; /* pushes it to the right */
}

.upload-card,
.stats-card {
  flex: 1;
  background: #fff;
  border-radius: 14px;
  padding: 14px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); */
  border: 1px solid #a0a0a081;
  width: 100%;
}

/* Upload Section */
.upload-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.upload-header h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.download-btn {
  background: #eef3ff;
  color: #2563eb;
  border: 1px solid #c7d2fe;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.85rem;
  cursor: pointer;
}

.dropzone {
  border: 2px dashed #cbd5e1;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  background: #f9fafb;
  transition: border-color 0.3s;
  cursor: pointer;
}

.dropzone:hover {
  border-color: #2563eb;
}

.dropzone input {
  display: none;
}

.dropzone p {
  font-size: 0.85rem;
  color: #555;
}

.dropzone span {
  color: #2563eb;
  cursor: pointer;
}

.upload-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}

.cancel-btn,
.done-btn {
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 0.85rem;
  cursor: pointer;
  border: none;
}

.cancel-btn {
  background: #f3f4f6;
  color: #555;
}

.done-btn {
  background: #2563eb;
  color: #fff;
}

/* Statistics Section */
.stats-card h3 {
  font-size: 1rem;
  font-weight: 600;
}

.stats-card p {
  color: #6b7280;
  font-size: 12px;
  margin-bottom: 5px;
}

.stats-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stats-content h4 {
  font-size: 0.9rem;
  color: #444;
}

.big-number {
  font-size: 2rem;
  font-weight: 700;
  color: #2563eb;
}

/* Table Section */

.table-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.table-header-row h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.add-btn {
  background: #2563eb;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
}
