.sidebar {
  height: 100vh;  
  width: 15%;      
  padding: 16px ;   
  padding-right: 0px;   
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05); */
}

/* Sidebar header */
.sidebarTopContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 30px;
}
.sidebarHeader {
  /* margin-bottom: 48px; */
  /* padding:8px; */
}

.sidebarHeaderTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #4d4d4d;
}

.sidebarHeader p {
  font-size: 12px;
  color: #4d4d4d;
  margin: 0;
}

/* Nav links */
.navBar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.links {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 12px;
  border-radius: 12px; 
  transition: background 0.2s, color 0.2s;
  height: 2rem;
}
.links i {
  font-size: 16px;
  width: 20px;
  text-align: center;
}
.links:hover {
  background: #64a3f52b;
  color: #1976d2;
}

.links.active {
  background: #64A2F5;
  color: #fff;
  font-weight: 500;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  padding: 15px 0px 0px 0px; 
  border-top: 1px solid #a0a0a0;
  gap: 4px;
}

.fa-regular {
  width: 24px;
  height: 24px;
  padding: 1rem;
  border-radius: 50%;
  background: #ddd;
  /* margin-right: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.footerText {
  flex: 1;
}

.footerAdminText {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.footerAdminMail {
  font-size: 10px;
  color: #777;
  margin: 0;
}

.footer button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #4d4d4d;
}
